.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #202027;
};

.header-left {
    display: flex;
    justify-content: space-between 20px;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 100px;
    height: auto;   
};

.header-right Discover {
    display:flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    color: white;
    padding: 40px;
    font-size: 1.5em;
}

.Discover {
    color: white;
};

.header-right Join {
    display: flex;
    align-items: center;
};

.Join {
    color: white;
};
